@{
    ViewBag.Title = "Game";
}

<div class="row">
	<div class="col-xs-12">
		@Html.Partial("Game2")
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Chat</h3>
			</div>
			<div class="panel-body">
				@Html.Partial("ChatBox")
				<script>
					$("#msgBox").css({
						"height": "120px"
					});
				</script>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info" id="helpBoardBuilding">
			<div class="panel-heading">
				<h3 class="panel-title">Help - Board building</h3>
			</div>
			<div class="panel-body">
				<p>Drag a ship over the board so that it covers a group of free slots. Drop the ship on the slots.</p>
				<p>You need to drag all ships to the board. When ships are in place press continue.</p>
				<p><span class="label label-info">Tip</span> First player to submit all ships gets to make the first move.</p>
			</div>
		</div>
		<div class="panel panel-info" id="helpFighting" style="display:none;">
			<div class="panel-heading">
				<h3 class="panel-title">Help - Fighting</h3>
			</div>
			<div class="panel-body">
				<p>Enemy board is on the top. Click the slots on your turn to shoot the enemy ships.</p>
				<p>Your board is below the enemy board. It shows enemy actions.</p>
				<p>When you hit an enemy ship it will burst to flames and your turn continues.</p>
				<p>First one to destroy all enemy ships wins.</p>
				<p><span class="label label-info">Note</span> Unlike in Battleships you will not be shown when enemy ship is fully destroyed.</p>
			</div>
		</div>
	</div>
</div>