<div id="challengeInbox" style="display: none; padding-top:10px;">
  <div class="panel panel-default">
    <div style="padding:10px;">
      <span class="label label-info" id="challengeText"></span>
    </div>
    <div class="btn-group btn-group-justified">
      <a type="button" class="btn btn-info" onclick="acceptChallenge()" value="Accept">Accept</a>
      <a type="button" class="btn btn-warning" onclick="rejectChallenge()" value="Reject">Reject</a>
    </div>
  </div>
</div>
<script>
    function pollChallengeInbox() {
        $.getJSON('@Url.Content("~/Poll/ChallengeInbox")', function (data) {
            var div = document.getElementById("challengeInbox");
            var text = document.getElementById("challengeText");
            if (data.challenged) {
                text.textContent = "Challenge from " + data.challenger;
                div.style.display = "inline-block";
            } else {
                div.style.display = "none";
            }
        });
    }
    var challengePoller = window.setInterval(pollChallengeInbox, 5000);
    pollChallengeInbox();

    function acceptChallenge() {
        answer(true);
    };

    function rejectChallenge() {
        answer(false);
    };

    function answer(accepted) {
        $.ajax({
            type: "POST",
            url: "Challenge/BattleAnswer",
            data: { PlayerAccepts: accepted },
            success: function (data) {
                pollChallengeInbox();
            }
        });
    }
</script>
