<div id="msgBox" style="height:436px; overflow: auto;padding-left: 15px;padding-right: 15px;"></div>

<div class="row well" style="margin-top:10px; margin-bottom:5px; ">
  <div class="col-xs-2">
    <button class="btn btn-info" onclick="sendMessage()"><b>Send</b></button>
  </div>
  <div class="form-group col-xs-10">
    <input class="form-control" id="message" type="text" maxlength="240">
  </div>
</div>

<script>
  var lastId = -5;
  $(function(){
    $("#message").keypress(function (e) {
      if (e.keyCode == 13) {
        sendMessage();
      }
    });
  });
  function askMessages() {
    $.ajax({
      type: "POST",
      url: "@Url.Action("GetMessages", "Chat")",
      data: { fromId: lastId },
      success: function (data) {
        if (data.length == 0)
          return;
        $.each(data, function (i, msg) {
          $("#msgBox").append('<div class="row well" style="padding:0px;margin-bottom: 3px;">'+
                              '<ul  class="list-inline" style="margin:2px;">'+
                              '<li><small class="text-primary">' + msg.time.split(" ").splice(1,2).join(" ") + '</small></li>' +
                              '<li class="text-primary">&#60;' + msg.user + '&#62;</li>' +
                              '<li>' + msg.message + '</li></ul></div>');
          $("#msgBox").scrollTop($("#msgBox")[0].scrollHeight);
          lastId = msg.id;
        });
      }
    });
    setTimeout(askMessages,500);
  };
  function sendMessage() {
    if ($("#message").val() === "")
      return;
    $.ajax({
      type: "POST",
      url: "@Url.Action("SendMessage", "Chat")",
      data: { message: $("#message").val()},
      success: function (data) {
        $("#message").val('');
      }
    });
  };
  askMessages();
</script>