<div id="game" style="display: none;">
    <p id="opponent"></p> <input type="button" onclick="surrenderGame()" value="Surrender" />
</div>

<div class="row">
  <div class="col-xs-8">
    <table class="table table-bordered" id="gameTable" style="width:400px;">
      @for(var y = 0; y < 10; y++){
      <tr style="height:40px">
        @for(var x = 0; x < 10; x++){
          <td style="padding:0px;">
            <button type="button" id="@x,@y" class="btn btn-info" style="width:40px;height:40px;padding:0px"></button>
          </td>
        }
      </tr>
      }
    </table>
  </div>

  <div class="col-xs-4">
    <div class="row">
      <div class="btn-group">
        <button type="button" class="btn btn-default" id="rotation1" value="Up">Up</button>
        <button type="button" class="btn btn-default" id="rotation2" value="Down">Down</button>
        <button type="button" class="btn btn-default" id="rotation3" value="Right">Right</button>
        <button type="button" class="btn btn-default" id="rotation4" value="Left">Left</button>
      </div>
    </div>
    <div class="row">
      <div id="drag">
        <div class="well well-sm" style="width:60px;" id="ship1">Ship 1</div>
      </div>
    </div>
  </div>
</div>

<script>
  var ship = function () {
    this.size;
    this.x;
    this.y;
    this.rotation;
  };
  ship.prototype.place = function (x,y) {
    this.x = x;
    this.y = y;
  };

  var ships = new ship();
  ships.size = 3;

  var showShip = function () {
    $("button[id^='" + ships.x + "," + ships.y + "']").text('s1');
    $("button[id^='" + ships.x + "," + (1 + parseInt(ships.y)) + "']").text('s1');
    $("button[id^='" + ships.x + "," + (2 + parseInt(ships.y)) + "']").text('s1');
  };

  $(function () {
    $("#drag div").draggable({
      appendTo: "body"
    });
    $("#gameTable button").droppable({
      drop: function (even, ui) {
        var xy = $(this).attr('id').split(',');
        ships.place(xy[0], xy[1]);
        ui.draggable.remove();
        showShip();
      }
    })
  });

  $("button[id^='rotation']").click(function () {
    if ($(this).hasClass("btn-success"))
      return;
    $("button[id^='rotation']").removeClass("btn-success");
    $(this).addClass("btn-success");
  });
  
  function pollGameMetadata() {
    $.getJSON('@Url.Content("~/Game/Metadata")', function (data) {
      var div = document.getElementById("game");
      var text = document.getElementById("opponent");
      if (data.playing) {
        text.textContent = "Playing with " + data.opponent;
        div.style.display = "inline-block";
      } else {
        div.style.display = "none";
      }
    });
  }
  window.setInterval(pollGameMetadata, 5000);
  pollGameMetadata();

  function surrenderGame() {
    $.ajax({
      type: "POST",
      url: "Game/Surrender",
      success: function (data) {
        pollGameMetadata();
      }
    });
  }

</script>
