<div id="game" style="display: none;">
    <p id="opponent"></p> <input type="button" onclick="surrenderGame()" value="Surrender" />
</div>

<div class="row">
  <div class="col-xs-8">
    <table class="table table-bordered" id="gameTable" style="width:400px;">
      @for(var y = 0; y < 10; y++){
      <tr style="height:40px">
        @for(var x = 0; x < 10; x++){
          <td style="padding:0px;" id="drop_@x@y"><button type="button" class="btn btn-info" style="padding:20px;" onclick="handler(@x , @y)"></button></td>
        }
      </tr>
      }
    </table>
  </div>

  <div class="col-xs-4">
    <div class="row">
      <div class="btn-group">
        <button type="button" class="btn btn-default" id="rotation1" value="Up">Up</button>
        <button type="button" class="btn btn-default" id="rotation2" value="Down">Down</button>
        <button type="button" class="btn btn-default" id="rotation3" value="Right">Right</button>
        <button type="button" class="btn btn-default" id="rotation4" value="Left">Left</button>
      </div>
    </div>
    <div class="row">
      <div id="drag">
        <p>drag me</p>
      </div>
    </div>


  </div>
</div>


<script>
  var ship = function () {
    var size;
    var x;
    var y;
    var rotation;
  };
  ship.prototype.place = function (x,y) {
    this.x = x;
    this.y = y;

  };

  function handler(x,y) {
    console.log(x, y);

  };
  
  $(function () {
    $("#drag").draggable({
      appendTo: "body",
      helper: "clone"
    });
  });
  $("#gameTable button").droppable({
    drop: function (even, ui) {
      $("<button></button>").text(ui.drag.text()).appendTo(this);
    }
  });


  $("button[id^='rotation']").click(function () {
    if ($(this).hasClass("btn-success"))
      return;
    $("button[id^='rotation']").removeClass("btn-success");
    $(this).addClass("btn-success");
  });
  
  function pollGameMetadata() {
    $.getJSON('@Url.Content("~/Game/Metadata")', function (data) {
      var div = document.getElementById("game");
      var text = document.getElementById("opponent");
      if (data.playing) {
        text.textContent = "Playing with " + data.opponent;
        div.style.display = "inline-block";
      } else {
        div.style.display = "none";
      }
    });
  }
  window.setInterval(pollGameMetadata, 5000);
  pollGameMetadata();

  function surrenderGame() {
    $.ajax({
      type: "POST",
      url: "Game/Surrender",
      success: function (data) {
        pollGameMetadata();
      }
    });
  }

</script>
