@model Battlezeppelins.Models.Data
<h3>Player list</h3>
<form id="BattleChallenge">
    <select class="form-control" id="challengeeSelect" size="20" multiple></select>
    <button type="button" class="btn btn-info btn-block" onclick="sendChallenge()">Challenge</button>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p id="textData"></p>
      </div>
    </div>
  </div>
</div>

<script>
    function sendChallenge() {
        var e = document.getElementById("challengeeSelect");
        var challengee = e.options[e.selectedIndex].text;
        $.ajax({
            type: "POST",
            url: "Challenge/BattleChallenge",
            data: { challengeeSelected: challengee },
            success: function (data) {
              $('#myModal').modal('show');
              $('#textData').replaceWith(data);
              setTimeout(function () { $('#myModal').modal('hide'); }, 2000);

              localStorage.setItem("challengeWaiting", "true");
              challengeResponse();
            }
        });
    };

    function challengeResponse() {
    	var challengeWaiting = localStorage.getItem("challengeWaiting");
    	if (challengeWaiting == "true") {
    		$.getJSON('@Url.Content("~/Game/Metadata")', function (data) {
    			if (data.playing) {
    				localStorage.setItem("challengeWaiting", "false");
    				window.location.href = "@Url.Action("Game", "Home")";
    			}
    		});
    		setTimeout(challengeResponse, 1000);
    	}
    }
    challengeResponse();

    function asdWhosOnline() {
      $.ajax({
        type: "POST",
        url: "Player/GetOnline",
        data: { fromId: lastId },
        success: function (data) {
          $('#challengeeSelect').empty();
          $.each(data, function (i, player) {
            $('#challengeeSelect').append('<option>' + player + '</option>');
          });
        }
      });
      setTimeout(asdWhosOnline, 5000);
    }
    asdWhosOnline();

</script>