@model Battlezeppelins.Models.Data
<h3>Player list</h3>
<form id="BattleChallenge">
    <select class="form-control" id="challengeeSelect" size="22" multiple></select>
    <button type="button" class="btn btn-info btn-block" onclick="sendChallenge()">Challenge</button>
</form>
<script>
    function sendChallenge() {
        var e = document.getElementById("challengeeSelect");
        var challengee = e.options[e.selectedIndex].text;
        $.ajax({
            type: "POST",
            url: "Challenge/BattleChallenge",
            data: { challengeeSelected: challengee },
            success: function (data) {
                alert(data);
            }
        });
    };
    function asdWhosOnline() {
      $.ajax({
        type: "POST",
        url: "Player/GetOnline",
        data: { fromId: lastId },
        success: function (data) {
          $('#challengeeSelect').empty();
          $.each(data, function (i, player) {
            $('#challengeeSelect').append('<option>' + player + '</option>');
            console.log(player);
          });
        }
      });
      setTimeout(asdWhosOnline, 5000);
    }
    asdWhosOnline();

</script>